* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background: #46B4A4;
    color: #FEFEFE;
}
.header {
    display: flex;
    justify-content: center;
    padding: 10px 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.hero .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
.heading {
    text-align: center;
    margin: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
.heading p {
    margin: 10px;
}

/* container start here */
.contaier {
    padding-left: 5%;
    padding-right: 5%;
}
.contaier .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px
}
.contaier .box-container .box {
    border-radius: 20px;
    background: #FEFEFE;
    color: black;
    text-align: center;
    padding: 30x 20px;
}
.contaier .box-container .box img {
    width: 95px;
    height: 95px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.contaier .box-container .box p {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
/* Container end here */

/* Button start */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 56px;
    background-color: #FEFEFE;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 23px;
}
.custom-button i {
    margin-right: 5px;
    color: #58A6D0;
}
/* button end */

/* custom-button-wa */
.container-content {
    text-align: center;
    background: #58A6D0;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 10%;
    height: 150px;
  }
.container-content h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px; 
}
.container-content .custom-button-wa {
    color: #FEFEFE;
    font-size: 20px;
    padding-bottom: 10px;
    background: #60D66A;
    border-radius: 40px 10px 40px 10px;
    width: 395px;
    height: 75px;
    padding: 12px 31px 12px 31px;

}
.container-content .fa-brands.fa-whatsapp {
    font-size: 30px;
}

/* footer */
.text-right {
    background: #33877B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61px;
    gap: 5px;
}

/* maps */
.content {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .left {
    display: block;
    font-size: 20px;
    display: block;
}
.content .left .social-icon {
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 30%;
}

.content .left .social-icon a {
    color: #FEFEFE;
    margin-top: 30px;
    font-size: 35px;
    margin-right: 10px;
}
.content .left .social-icon .instagram-icon{
    color: #E4405F;
}
.content .left .social-icon .whatsapp-icon{
    color: green;

}
.content .left .social-icon .facebook-icon{
    color: #1877F2;
}

/* Registration form start */
/* Registration form */
.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}
.registration-form h1 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 3px; 
}
.registration-form h2 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 3px;
}
.registration-form h3 {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.registration-form p {
    font-size: 10px;
    margin: 5px 0;
}

.registration-form input {
    font-size: 10px;
    padding: 10px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.registration-form button{
    font-size: 10px;
    color: #FEFEFE;
    cursor: pointer;
    margin: 20px 0;
    margin-left: 50px;
    padding: 10px 10px;
    height: 30px;
    width: 250px;
    border: 0;
    border-radius: 1px;
    background-color: #1877F2;
}
.condition {
    color: #eaeaea;
    font-size: 10px;
}
#terms {
    cursor: pointer;
    margin-left: 50px;
    margin-top: 10px;
    width: 50px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
/* registration end */
/* Registration form end */


